<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Conrad Diao</title>
</head>

<body>
  <div class="navbar navbar-default navbar-static-left" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Conrad Diao</a>
      </div>
      <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
      </ul>
    </div>

  </div>

<div class="container">
